<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="false">

	<welcome-file-list>
		<welcome-file>/index</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error</location>
	</error-page>
	<!-- Spring configuration location. -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:applicationContext-common.xml,
			classpath:spring-mvc-common.xml,
			classpath:applicationContext-searcher.xml
			classpath:*/applicationContext-*.xml
		</param-value>
	</context-param>

	<!-- Application configuration location. -->
	<context-param>
		<param-name>appConfigLocation</param-name>
		<param-value>classpath:config.properties</param-value>
	</context-param>

	<!-- Log4j configuration location. -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:log4j.xml</param-value>
	</context-param>

	<!-- Add Spring Listener. -->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- Add application configuration loader listener. -->
	<listener>
		<listener-class>cn.zy.commons.webdev.listener.ConfigureLoaderListener</listener-class>
	</listener>

	<!-- Set the web page encoding. -->
	<filter>
		<filter-name>utf8Encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>utf8Encoding</filter-name>
		<url-pattern>/</url-pattern>
	</filter-mapping>
	
	

	<!-- Add Spring MVC Dispatcher Servlet -->
	<servlet>
		<servlet-name>spring-mvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				classpath:spring-mvc-common.xml,
				classpath:spring-mvc-app.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring-mvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>